.Fa{
	background-color: blue;
	width: 50%;
	height: 69px;
	float: left;

}
.Re{
	background-color: green;
	width: 50%;
	height: 69px;
	float: right;
	margin-bottom: 5px;
}

#Den{
	clear: both;
	background-color: red;
	padding: 10px;
	margin-bottom:5px; 

}
#We{
	background-color: yellow;
	width: 75px;
	height: 25px;
	margin-bottom: 

}
#Us{
	background-color: yellow;
	width: 95px;
	height: 25px;
	margin-left: 105px;
	margin-top: -24px;


}
#Me{
	background-color: yellow;
	width: 80px;
	height: 25px;
	margin-left: 230px;
	margin-top: -24px;

}
#You{
	background-color: yellow;
	width: 80px;
	height: 25px;
	margin-left: 330px;
	margin-top: -24px;

}
#Yu{
	background-color: blue;
	width: 30%;
	height: 69px;
	float: left;
}
#Sat{
	background-color: green;
	width: 70%;
	height: 69px;
	float: right;
	margin-bottom: 5px;

}
Footer{

	background-color: yellow;
	text-align: center;
	height: 69px;
	clear: both;
}