body{
	margin: 0px;
	font-size: 30px;
}

.main {
	background-color: black;
	text-align: center;
	font-size:80px;
	color: red;
	padding: 30px;
	margin: 10px;
}
.maintext {
	background-color: #c136f4;

	text-align: center;
	color: black;
 padding: 10px;
 margin-left: 20px;
 margin-right: 20px;
 margin-bottom: 20px;
 margin-top: 20px;


}
.foot {
	background-color: black ;
	color: red;
	text-align: center;
	padding: 30px;
	margin: 15px;

}